# sort_values() metodu , inplace parametresi ve "in"

In [1]:
import pandas as pd

In [21]:
ülke=pd.read_csv("ülke.csv",squeeze=True)
gelir=pd.read_csv("milligelir.csv",squeeze=True)
ülke

0                 ABD
1                 Çin
2             Japonya
3             Almanya
4           İngiltere
5              Fransa
6           Hindistan
7              İtalya
8            Brezilya
9              Kanada
10              Rusya
11         GÜney Kore
12            İspanya
13        Avusturalya
14            Meksika
15          Endonezya
16           Hollanda
17            Türkiye
18    Suudi Arabistan
19            İsviçre
Name: Ülke, dtype: object

In [10]:
ülke.sort_values().head()

0             ABD
3         Almanya
13    Avusturalya
8        Brezilya
15      Endonezya
Name: Ülke, dtype: object

In [13]:
gelir.sort_values(ascending=False).tail()

15    1070000
16     945000
17     910000
18     748000
19     741000
Name: Milli Gelir, dtype: int64

In [17]:
gelir.sort_values(ascending=True,inplace=True)

In [18]:
gelir

19      741000
18      748000
17      910000
16      945000
15     1070000
14     1210000
13     1500000
12     1510000
11     1690000
10     1720000
9      1800000
8      2140000
7      2180000
6      2850000
5      2930000
4      2940000
3      4210000
2      5170000
1     14090000
0     20410000
Name: Milli Gelir, dtype: int64

In [19]:
gelir.sort_index()

0     20410000
1     14090000
2      5170000
3      4210000
4      2940000
5      2930000
6      2850000
7      2180000
8      2140000
9      1800000
10     1720000
11     1690000
12     1510000
13     1500000
14     1210000
15     1070000
16      945000
17      910000
18      748000
19      741000
Name: Milli Gelir, dtype: int64

In [20]:
1 in [1,2,3,4]

True

In [23]:
"ABD" in ülke.values

True