In [3]:
import pandas as pd
import numpy as np

In [4]:
benimSozlugum= {"Şükrücan" : 21, "Emirhan": 15}

In [5]:
pd.Series(benimSozlugum)

Şükrücan    21
Emirhan     15
dtype: int64

In [6]:
yaslar=[52,15,26]
isimler=["Ömer","Leyla","Murat"]

In [7]:
pd.Series(yaslar)

0    52
1    15
2    26
dtype: int64

In [8]:
pd.Series(yaslar,isimler)

Ömer     52
Leyla    15
Murat    26
dtype: int64

In [10]:
pd.Series(data=yaslar, index=isimler)

Ömer     52
Leyla    15
Murat    26
dtype: int64

In [11]:
numpyDizisi=np.array([50,40,30])
numpyDizisi

array([50, 40, 30])

In [12]:
pd.Series(numpyDizisi)

0    50
1    40
2    30
dtype: int32

In [14]:
pd.Series(numpyDizisi, isimler)

Ömer     50
Leyla    40
Murat    30
dtype: int32

In [16]:
pd.Series(["Emir","Ömer","Ali"],["1.","2.","3."])

1.    Emir
2.    Ömer
3.     Ali
dtype: object

In [20]:
yarısmaSonucu= pd.Series([10,5,1],["Atil","Ali","Osman"])
yarısmaSonucu

Atil     10
Ali       5
Osman     1
dtype: int64

In [21]:
yarısmaSonucu2= pd.Series([10,8,5],["Atil","Ali","Osman"])
yarısmaSonucu2

Atil     10
Ali       8
Osman     5
dtype: int64

In [23]:
yarısmaSonucu2["Atil"]

10

In [25]:
sonuc=yarısmaSonucu+yarısmaSonucu2
sonuc

Atil     20
Ali      13
Osman     6
dtype: int64

In [27]:
seri=pd.Series([20,30,40,50],["a","b","c","d"])
seri2=pd.Series([100,50,50,50],["b","a","f","g"])
seri2,seri

(b    100
 a     50
 f     50
 g     50
 dtype: int64,
 a    20
 b    30
 c    40
 d    50
 dtype: int64)

In [28]:
seri2+seri

a     70.0
b    130.0
c      NaN
d      NaN
f      NaN
g      NaN
dtype: float64